[Unit]
Description=Prometheus MySQL Exporter
After=network.target
User={{ exporter_node }}
Group={{ exporter_node }}

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/{{ exporter_node }} \
  --config.my-cnf /etc/.mysqld_exporter.cnf \
  --collect.global_status \
  --collect.info_schema.innodb_metrics \
  --collect.auto_increment.columns \
  --collect.info_schema.processlist \
  --collect.binlog_size \
  --collect.info_schema.tablestats \
  --collect.global_variables \
  --collect.info_schema.query_response_time \
  --collect.info_schema.userstats \
  --collect.info_schema.tables \
  --collect.perf_schema.tablelocks \
  --collect.perf_schema.file_events \
  --collect.perf_schema.eventswaits \
  --collect.perf_schema.indexiowaits \
  --collect.perf_schema.tableiowaits \
  --collect.slave_status \
  --web.listen-address=0.0.0.0:{{ exporter_port }}

[Install]
WantedBy=multi-user.target
